<!-- ========== HEADER SECTION ========== -->
	<section id="home" name="home"></section>
	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<h1>Let's Ride</h1>
				<h3>The event based carpool app</h3>
				<br>
				<div class="col-sm-6 col-sm-offset-3">
						<!-- Use the form_for tag here -->
						<form class="form-horizontal">
							<input type="text" class="form-control" id="keyword-input" placeholder="Your Event">
					    <input type="text" class="form-control" id="location-input" placeholder="Los Angeles, CA">
					    <br>
					  	<button class="btn btn-lg btn-danger btn-block">
					  	<span class="glyphicon glyphicon-search"</span>
					  	</button>
						</form>
				</div>

				<div id="results-container" class="row"
				></div>

			</div>
		</div><!-- /container -->
	</div><!-- /headerwrap -->