
<%= javascript_include_tag "http://api.eventful.com/js/api" %>

<!-- ========== HEADER SECTION ========== -->
<div id="headerwrap">
	<div class="container">
		<div class="row">
			<div id="home-title">
				<h1>Let's Ride</h1>
				<h3>The event based carpool app</h3>
			</div>
			
		
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<input type="text" class="form-control" id="keyword-input" placeholder="Your Event">
				</div>
				<div class="col-sm-6 col-sm-offset-3">
			    <input type="text" class="form-control" id="location-input" placeholder="Los Angeles, CA">
			  </div>
			  <div class="col-sm-6 col-sm-offset-3">
			    <button id="search-button" class="btn btn-lg btn-danger btn-block">
			    <span class="glyphicon glyphicon-search"</span>
			    </button>
				</div>
			</div>
			

			<div id="results-container" class="row">
				
			</div>

		</div>
	</div><!-- /container -->
</div><!-- /headerwrap -->

