<!-- ========== HEADER SECTION ========== -->
	<section id="home" name="home"></section>
	<div id="headerwrap">
		<div class="container">
			<div class="logo">
				<img src="assets/img/logo.png">
			</div>
			<br>
			<div class="row">
				<h1>Let's Ride</h1>
				<br>
				<h3>The event based carpool app.</h3>
				<br>
				<br>
				<div class="col-sm-6 col-sm-offset-3">
						<!-- Use the form_for tag here -->
						<form class="form-horizontal">
					    <input type="text" class="form-control" id="exampleInputPassword2" placeholder="near Los Angeles, CA">
					    <br>
					  	<button class="btn btn-lg btn-danger btn-block">
					  		<strong>Search</strong>
					  	</button>
						</form>
					</div>
			</div>
		</div><!-- /container -->
	</div><!-- /headerwrap -->