<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 col-md-offset-4 col-sm-6">
			<h1>New User Signup</h1>
			<%= render 'form' %>
		</div>	
		<div class="col-md-2 col-md-offset-1 col-sm-6">
			<% unless @user.errors.full_messages.empty? %>
				<h1 class="text-center">Oops!</h1>
			<ul class="list-group">
				<% @user.errors.full_messages.each do |msg| %>
					<li class="list-group-items list-group-item-danger">
						<%= msg %>
					</li>
				<% end %>
			</ul>
			<% end %>
		</div>	
	</div>
</div>