<div class="container">
    <div class="span3 well">
        <center>
        <h2><%= "#{@user.first_name.titleize} #{@user.last_name.titleize}" %></h2>
        <%= link_to image_tag( @user.avatar.url(:thumb), size: "200x200", class: "img-circle"), edit_user_path(@user) %>
        <h3><%= "#{@user.email}" %></h3>
        <br>
        <em>click your face to edit your profile</em>
        <br>
        <%= link_to "rides_index", event_rides_path %> 
		</center>
    </div>
</div>

