<div class="container">
    <div class="span3 well">
        <center>
        <h2><%= "#{@user.first_name.titleize} #{@user.last_name.titleize}" %></h2>
        <%= link_to image_tag( @user.avatar.url, size: "200x200", class: "img-circle"), edit_user_path(@user) %>
        <br>
         <em>Click image to edit your profile</em>
        <h3><%= "#{@user.email}" %></h3>
        <br>
		</center>
    </div>
</div>

