<!-- ========== CONTACT SECTION ========== -->
	<div id="f">
		<div class="container">
				<div class="col-sm-6 col-sm-offset-3">
				<h2>CONTACT</h2>
					<p>1617 Broadway Ave ||  Santa Monica, CA</p>
					<p>iam@awesomemail.com</p>
					<p><button type="button" class="btn btn-warning">YEAH! CONTACT ME NOW!</button></p>
				</div>
			</div>
	</div>
