
<div class="container">
    <div class="row clearfix">
        <div class="col-md-6 column">
            <h3>
                Current Rides
            </h3>
            <div class="media">
                 <a href="#" class="pull-left"><img src="http://lorempixel.com/64/64/" class="media-object" alt='' /></a>
                <div class="media-body">
                    <h4 class="media-heading">
                        This is just an example
                    </h4> Maybe some ride info goes here. Blah blah blah, check to view the ride.
                    
                </div>
            </div>
        </div>

        <div class="col-md-6 column">
            <h3>
                Ride Activity
            </h3>
            <div class="alert alert-success alert-dismissable">
                 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4>
                    Alert!
                </h4><strong>Pending Request</strong>
                <p>Blah blah blah check it out
                <p><a href="#" class="alert-link">alert link</a>

            </div> <!-- end alert -->
        </div> <!-- end ride activity -->
    </div>
</div>